.inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding:10px;
    cursor: pointer;
    transition: all .4s;
}

.inputOption:hover {
    border-radius: 10px;
    background: whitesmoke;
}

.inputOption > h4 {
    margin-left: 5px;
}